<div class="djs-wrap">
    <div class="djs">
        <div class="jiezhi">离 20170904093 期投注截止</div>
        <div class="your-clock"></div>
    </div>
    <div class="haoma">
        <div class="caipic pull-left"><img src="../../assets/lottery-play/1ssc.png" width="100"></div>
        <div class="timer"><span>1</span><span>3</span><span>6</span><span>9</span><span>6</span></div>
    </div>
    <div class="lishi">
        <span class="block">重庆时时彩<br>第<em class="color-danger">20170904093</em>期</span>
        <a href="#">号码趋势</a><a href="#">历史开奖</a>
    </div>
</div>
<div class="" style="position:relative">
    <div class="tab wanfatab">
        <ul class="tab-hd">
            <li class="active">选项1</li>
            <li>选项2</li>
            <li>选项3</li>
        </ul>
        <ul class="tab-bd">
            <li class="thisclass">
                <div class="shaixuan">
                    <div class="sxbox">
                        <div class="sxlabel">直选：</div>
                        <div class="sxfield">
                            <span>复式</span>
                            <span>单式</span>
                        </div>
                    </div>
                    <div class="sxbox">
                        <div class="sxlabel">组选：</div>
                        <div class="sxfield">
                            <span>五星组选120</span>
                            <span>五星组选60</span>
                            <span>五星组选30</span>
                            <span>五星组选20</span>
                            <span>五星组选10</span>
                            <span>五星组选5</span>
                        </div>
                    </div>
                    <div class="sxbox">
                        <div class="sxlabel">趣味：</div>
                        <div class="sxfield">
                            <span>一帆风顺</span>
                            <span>好事成双</span>
                            <span>三星报喜</span>
                            <span>四季发财</span>
                        </div>
                    </div>
                    <div class="sxbox">
                        <div class="sxlabel">不定位：</div>
                        <div class="sxfield">
                            <span>一码不定位</span>
                            <span>二码不定位</span>
                            <span>三码不定位</span>
                        </div>
                    </div>
                </div>
                <div class="cptishi">每位至少选择一个号码，竞猜开奖号码的全部五位，号码和位置都对应即中奖</div>
                <div class="haomawrap">
                    <div class="haomaitem">
                        <div class="selectnumlist">
                            <div class="numberRow">
                                <div class="nrTitle">
                                    <div class="rowNumber">
                                        <a href="" class="ng-binding">万位<i><em></em></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="rowNumber selectnum" name="0">
                                <a>0</a>
                                <a>1</a>
                                <a>2</a>
                                <a>3</a>
                                <a>4</a>
                                <a>5</a>
                                <a>6</a>
                                <a>7</a>
                                <a>8</a>
                                <a>9</a>
                            </div>
                            <div class="selectrowNumber">
                                <a href="javascript:;" class="quan">全</a>
                                <a href="javascript:;" class="da">大</a>
                                <a href="javascript:;" class="xiao">小</a>
                                <a href="javascript:;" class="dan">单</a>
                                <a href="javascript:;" class="shuang">双</a>
                                <a href="javascript:;" class="qing">清</a>
                            </div>
                        </div>
                        <div class="selectnumlist">
                            <div class="numberRow">
                                <div class="nrTitle">
                                    <div class="rowNumber">
                                        <a href="" class="ng-binding">千位<i><em></em></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="rowNumber selectnum" name="1">
                                <a>0</a>
                                <a>1</a>
                                <a>2</a>
                                <a>3</a>
                                <a>4</a>
                                <a>5</a>
                                <a>6</a>
                                <a>7</a>
                                <a>8</a>
                                <a>9</a>
                            </div>
                            <div class="selectrowNumber">
                                <a href="javascript:;" class="quan">全</a>
                                <a href="javascript:;" class="da">大</a>
                                <a href="javascript:;" class="xiao">小</a>
                                <a href="javascript:;" class="dan">单</a>
                                <a href="javascript:;" class="shuang">双</a>
                                <a href="javascript:;" class="qing">清</a>
                            </div>
                        </div>
                        <div class="selectnumlist">
                            <div class="numberRow">
                                <div class="nrTitle">
                                    <div class="rowNumber">
                                        <a href="" class="ng-binding">百位<i><em></em></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="rowNumber selectnum" name="2">
                                <a>0</a>
                                <a>1</a>
                                <a>2</a>
                                <a>3</a>
                                <a>4</a>
                                <a>5</a>
                                <a>6</a>
                                <a>7</a>
                                <a>8</a>
                                <a>9</a>
                            </div>
                            <div class="selectrowNumber">
                                <a href="javascript:;" class="quan">全</a>
                                <a href="javascript:;" class="da">大</a>
                                <a href="javascript:;" class="xiao">小</a>
                                <a href="javascript:;" class="dan">单</a>
                                <a href="javascript:;" class="shuang">双</a>
                                <a href="javascript:;" class="qing">清</a>
                            </div>
                        </div>
                        <div class="selectnumlist">
                            <div class="numberRow">
                                <div class="nrTitle">
                                    <div class="rowNumber">
                                        <a href="" class="ng-binding">十位<i><em></em></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="rowNumber selectnum" name="3">
                                <a>0</a>
                                <a>1</a>
                                <a>2</a>
                                <a>3</a>
                                <a>4</a>
                                <a>5</a>
                                <a>6</a>
                                <a>7</a>
                                <a>8</a>
                                <a>9</a>
                            </div>
                            <div class="selectrowNumber">
                                <a href="javascript:;" class="quan">全</a>
                                <a href="javascript:;" class="da">大</a>
                                <a href="javascript:;" class="xiao">小</a>
                                <a href="javascript:;" class="dan">单</a>
                                <a href="javascript:;" class="shuang">双</a>
                                <a href="javascript:;" class="qing">清</a>
                            </div>
                        </div>
                        <div class="selectnumlist">
                            <div class="numberRow">
                                <div class="nrTitle">
                                    <div class="rowNumber">
                                        <a href="" class="ng-binding">个位<i><em></em></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="rowNumber selectnum" name="4">
                                <a class="xhm">0</a>
                                <a class="xhm1">1</a>
                                <a class="xhm2">2</a>
                                <a class="xhm3">3</a>
                                <a class="xhm4">4</a>
                                <a class="xhm">5</a>
                                <a class="xhm">6</a>
                                <a class="xhm">7</a>
                                <a class="xhm">8</a>
                                <a class="xhm">9</a>
                            </div>
                            <div class="selectrowNumber">
                                <a href="javascript:;" class="quan">全</a>
                                <a href="javascript:;" class="da">大</a>
                                <a href="javascript:;" class="xiao">小</a>
                                <a href="javascript:;" class="dan">单</a>
                                <a href="javascript:;" class="shuang">双</a>
                                <a href="javascript:;" class="qing">清</a>
                            </div>
                        </div>
                    </div>
                    <div class="numinfo" style="padding-right:76px">
                        <div class="" style="font-size:14px">
                            您选择了<span class="jizhu">0</span>注
                            <!--<input type="text" class="spinnerExample"/>倍-->
                            <div class="spinner">
                                <button class="decrease" disabled="disabled">-</button>
                                <input type="text" class="spinnerExample value passive" maxlength="2">
                                <button class="increase">+</button>
                                倍
                            </div>
                            <select name="" class="select">
                                <option>元</option>
                                <option>角</option>
                                <option>分</option>
                            </select>玩法奖金 180,000.00 , 调节返点 7.80%
                        </div>
                        <div class="wanfa-btn">
                            <a href="#" class="emptynum">清空号码</a><a class="tjhm">添加号码</a><a href="#">一键下单</a>
                            <span class="pull-right" style="border:solid 1px #ddd; padding:5px 10px">总注数:<strong class="color-danger">1</strong>注,总金额<strong class="color-danger">2.00</strong>元</span>
                        </div>
                    </div>
                    <div class="ofynum"></div>
                    <div class="touzhu"><a href="#"><img src="../../assets/lottery-play/bidButton.png"></a></div>
                </div>
            </li>
            <li>内容2</li>
            <li>内容3</li>
        </ul>
    </div>
    
    <div class="tab myplantab">
        <ul class="tab-hd">
            <li class="active">我的方案</li>
            <li>我的追号</li>
            <li>开奖号码</li>
        </ul>
        <ul class="tab-bd planul">
            <li class="thisclass">
                <div class="thisclasscon">
                    <div class="thisclasscon-tit">
                        <span class="col-xs-6">期号</span>
                        <span class="col-xs-6">状态</span>
                    </div>
                    <div class=""></div>
                </div>
            </li>
            <li>
                <div class="thisclasscon">
                    <div class="thisclasscon-tit">
                        <span class="col-xs-4">进度</span>
                        <span class="col-xs-4">投注金额</span>
                        <span class="col-xs-4">状态</span>
                    </div>
                    <div class=""></div>
                </div>
            </li>
            <li>
                <div class="thisclasscon">
                    <div class="thisclasscon-tit">
                        <span class="col-xs-6">期号</span>
                        <span class="col-xs-6">号码</span>
                    </div>
                    <div class="" style="overflow-y:auto; height:180px;">
                        <div class="thisclasscon">
                            <div class="col-xs-6 text-center">132123123123</div>
                            <div class="col-xs-6 text-center">4，3，2，2，1</div>
                        </div>
                        <div class="thisclasscon">
                            <div class="col-xs-6 text-center">132123123123</div>
                            <div class="col-xs-6 text-center">4，3，2，2，1</div>
                        </div>
                        <div class="thisclasscon">
                            <div class="col-xs-6 text-center">132123123123</div>
                            <div class="col-xs-6 text-center">4，3，2，2，1</div>
                        </div>
                        <div class="thisclasscon">
                            <div class="col-xs-6 text-center">132123123123</div>
                            <div class="col-xs-6 text-center">4，3，2，2，1</div>
                        </div>
                        <div class="thisclasscon">
                            <div class="col-xs-6 text-center">132123123123</div>
                            <div class="col-xs-6 text-center">4，3，2，2，1</div>
                        </div>
                        <div class="thisclasscon">
                            <div class="col-xs-6 text-center">132123123123</div>
                            <div class="col-xs-6 text-center">4，3，2，2，1</div>
                        </div>
                        <div class="thisclasscon">
                            <div class="col-xs-6 text-center">132123123123</div>
                            <div class="col-xs-6 text-center">4，3，2，2，1</div>
                        </div>
                        <div class="thisclasscon">
                            <div class="col-xs-6 text-center">132123123123</div>
                            <div class="col-xs-6 text-center">4，3，2，2，1</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
