<app-header></app-header>
<div class="page-app">
    <app-header-nav></app-header-nav>
    <div class="red-envelope">
        <div class="red-envelope-box">
            <div class="red-envelope-rule">
                <div class="rule-title">
                    红包规则
                </div>
                <p>1:当日充值换抢红包积分，如充值100元获得此活动100分积分，<br>
                    (1)当天累积，隔天自动清零<br>
                    (2)当日账号充值积分累计达到500积分即可参加一次抢红包<br>
                    (3)当日达到2000分即可再次参加抢红包活动<br>
                    (4)当日达到8000分即可再次参加抢红包活动<br>
                    (5)积分越高所得红包金额越多，最高封顶888 <br>
                    充值抢红包<br>
                    活动规则：<br>
                    参与本活动会员，必须遵守猜猜乐官方娱乐平台的相关规则，<br>
                    如有发现利用活动或技术漏洞，对活动首充恶意套利行为，<br>
                    猜猜乐官方娱乐有权扣除违规所得。</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

<app-phone-fix></app-phone-fix>