/* header */
.header {
    clear: both;
    width: 100%;
    height: 30px;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    background: #f1f1f1;
    color: #aa1f1f;
}

.header ul {
    float: left;
}

.header ul li {
    display: inline-block;
    float: left;
    line-height: 30px;
}

.header ul li a:link, .header ul li a:visited {
    display: inline-block;
    color: #aa1f1f;
    padding: 0 10px;
    border-right: 1px solid #aa1f1f;
    line-height: 1;
}

.header ul li:last-child a:link, .header ul li:last-child a:visited {
    border: 0;
}

.header ul li a:hover,
.header ul li span:hover {
    color: #069;
    text-decoration: none;
    cursor:pointer;
}

.header-control, .header-control:link, .header-control:visited {
    display: inline-block;
    float: right;
    margin-right: 15px;
    line-height: 30px;
    color: #aa1f1f;
    cursor:pointer;
    text-decoration:none;
}

.header-control:hover {
    color: #069;
    text-decoration: none;
    cursor: pointer;
}

.logout {
    padding-left: 30px !important;
    background: url(images/logout.png) no-repeat 0 center;
    background-size: 20px 20px;
    cursor: pointer;
}

.notice {
    padding-left: 30px !important;
    background: url(images/notice.png) no-repeat 0 center;
    background-size: 20px 20px;
}

.getcash {
    padding-left: 30px !important;
    background: url(images/getcash.png) no-repeat 0 center;
    background-size: 20px 20px;
}

.zhuancash {
    padding-left: 30px !important;
    background: url(images/zhuancash.png) no-repeat 0 center;
    background-size: 20px 20px;
}

.chongcash {
    padding-left: 30px !important;
    background: url(images/chongcash.png) no-repeat 0 center;
    background-size: 20px 20px;
}

.last {
    padding-left: 30px !important;
    background: url(images/last.png) no-repeat 0 center;
    background-size: 20px 20px;
}