<div class="sec-con">
    <div class="payway">
        <span class="fl-left">充值方式</span>
        <div class="payicon bankicon">
            <div class="bank-item abcbank"></div>
            <div class="bank-item icbcbank"></div>
            <div class="bank-item ccbbank"></div>
            <div class="bank-item bcombank"></div>
            <div class="bank-item bocbank"></div>
            <div class="bank-item cmbbank"></div>
            <div class="bank-item cmbcbank"></div>
            <div class="bank-item cebbbank"></div>
            <div class="bank-item bobbank"></div>
            <div class="bank-item shbbank"></div>
            <div class="bank-item nbbbank"></div>
            <div class="bank-item hxbbank"></div>
            <div class="bank-item cibbank"></div>
            <div class="bank-item psbcbank"></div>
            <div class="bank-item spabank"></div>
            <div class="bank-item spdbbank"></div>
            <div class="bank-item zxbank"></div>
            <div class="bank-item hzbbank"></div>
            <div class="bank-item gdbbank"></div>
        </div>
    </div>
    <div class="payway">
        <span class="fl-left">充值金额</span>
        <span class="payicon fl-left"><input name="" type="number" placeholder="请输入充值金额"> 元 <span class="button-yellow">充值</span></span>
    </div>
</div>