<div class="footer">
    <div class="container foot">
        <div class="foot_div" style="width: 14.4% ">
            <h4><strong>使用帮助</strong></h4>
            <ul class="list_fll">
                <li><a href="#">常见骗术</a></li>
                <li><a href="#">中奖查询</a></li>
                <li><a href="#">如何转账</a></li>
                <li><a href="#">充值流程</a></li>
                <li><a href="#">如何提款</a></li>
            </ul>
        </div>
        <div class="foot_div" style="width: 12.8% ">
            <h4><strong>联系我们</strong></h4>
            <ul class="list_fln">
                <li><a href="#">关于我们</a></li>
                <li><a href="#">博彩责任</a></li>
                <li><a href="#">规则与条款</a></li>
            </ul>
        </div>
        <div class="foot_div hy">
            <h4><strong>代理合营</strong></h4>
            <ul class="list_fln">
                <li><a href="#">免责条款</a></li>
                <li><a href="#">隐私政策</a></li>
            </ul>
        </div>
        <div class="foot_div contact">
            <h4><strong>联系我们</strong></h4>
            <ul class="list_fll">
                <li>
                    <span></span>
                    <dl>
                        <dt>客服专线</dt>
                        <dd class="ng-binding">400-123-456</dd>
                    </dl>
                </li>
                <li>
                    <span class="mail"></span>
                    <dl>
                        <dt>客服邮箱</dt>
                        <dd class="ng-binding">178yule@caicaile.com</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="foot_div">
            <img src="../../assets/footer/qrcode.png" width="100" height="100" alt="">
        </div>
        <div class="flink"><img src="../../assets/footer/flink.jpg" alt=""></div>
    </div>
    <div class="foot_bottom">
        &copy; AIYI CASINO All Rights Reserved
    </div>
</div>