<div class="sec-con">
    <div class="payway">
        <p>如遇扫码不成功或被拦截提示该商户不支持时，请间隔1分钟重新生成二维码多次扫描，或者降低支付金额即可。请不要支付整数扫描！</p>
        <span class="fl-left">充值方式</span>
        <div class="payicon">
            <div class="selectpayway"><img src="../../assets/personal-center/financial-center/wxpay.png"></div>
            <div class="selectpayway"><img src="../../assets/personal-center/financial-center/zfbpay.png"></div>
            <div class="selectpayway"><img src="../../assets/personal-center/financial-center/qqpay.png"></div>
        </div>
    </div>
    <div class="payway">
        <span class="fl-left">充值金额</span>
        <span class="payicon fl-left"><input name="" type="number" placeholder="请输入充值金额"> 元 <span class="button-yellow">充值</span></span>
    </div>
</div>