<div class="tab-border">
    <div class="tab-tixian">
        <h2><em>1</em>请选择到账银行卡</h2>
        <table class="table_qk">
            <tbody>
            <tr>
                <td width="110">操作</td>
                <td width="120">银行名称</td>
                <td width="150">账户</td>
                <td width="150">开户名</td>
                <td width="150">地址</td>
                <td width="150">是否锁定</td>
            </tr>
            </tbody>
        </table>
        <h2><em>2</em>请输入提现信息</h2>
        <div class="tixianform clearfix">
            <div class="fLeft">
                <span class="block">请输入提现金额 </span>
                <input name="" type="text" placeholder="请输入提现金额">
                <span class="block">请输入资金密码</span>
                <input name="" type="text" placeholder="请输入资金密码">
                <a href="#" class="tixian-btn block">提现</a>
            </div>
            <div class="fRight">
                <table class="table_qk tx-table">
                    <tr>
                        <td>人工审核时间：</td>
                        <td class="color-danger">10:00-2:00</td>
                    </tr>
                    <tr>
                        <td>最小提现额度：</td>
                        <td class="color-danger">100.00</td>
                    </tr>
                    <tr>
                        <td>最大提现额度：</td>
                        <td class="color-danger">1,000,000.00</td>
                    </tr>
                    <tr>
                        <td>每日提现次数：</td>
                        <td class="color-danger">10</td>
                    </tr>
                    <tr>
                        <td>每日免费提现：</td>
                        <td class="color-danger">3</td>
                    </tr>
                    <tr>
                        <td>提现手续费：</td>
                        <td class="color-danger">0.1%</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>