<app-header></app-header>
<div class="page-app">
    <app-header-nav></app-header-nav>
    
    <div class="app-banner">
        <div class="app-banner-mid">
            <div class="app-banner-mid-left">
                <div class="block"><img src="../../assets/download/ewm.png"></div>
                <div class="block">
                    <a href="#"><i class="and"></i>安卓下载</a>
                    <a href="#"><i class="ios"></i>IOS下载</a>
                </div>
            </div>
            <div class="app-banner-mid-right right"><img src="../../assets/download/appphone.jpg"></div>
        </div>
    </div>
    <div class="app-text">
        <div class="app-title">特色介绍</div>
    </div>
    <div class="app-pro center">
        <h2>“iOS 安装须注意的问题”
            <small class="block">178娱乐企业级应用，目前手机系统是iOS 的小伙伴需设置后才能打开，可参考一下教程。</small>
        </h2>
        <div class="step">
            <div class="step-info">
                <img src="../../assets/download/a1.jpg"><span class="block center"><strong>打开设置</strong><small class="block">打开178娱乐，点击设置图标，进入设置界面</small></span>
            </div>
            <div class="step-info">
                <img src="../../assets/download/a2.jpg"><span class="block center"><strong>下一步</strong><small class="block">找到“通用”，选择点击“通用”</small></span>
            </div>
            <div class="step-info">
                <img src="../../assets/download/a3.jpg"><span class="block center"><strong>下一步</strong><small class="block">找到“描述”或“设备管理”；</small></span>
            </div>
            <div class="step-info">
                <img src="../../assets/download/a4.jpg"><span class="block center"><strong>下一步</strong><small class="block">选择企业级应用，点击信任，最后打开178娱乐解锁试玩即可。</small></span>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

<app-phone-fix></app-phone-fix>