<app-header></app-header>
<div class="page-app">
    <app-header-nav></app-header-nav>
    <div class="appbanner">
        <div class="appbanner-mid xlbanner">
            <div class="banner">
                <div class="banner-mid">
                    <iframe style="width:100%; height: 100%" frameborder="0" scrolling="no" src="http://mo.amap.com/navi?start=&amp;dest=parameter1&amp;destName=parameter2&amp;key=parameter3"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="xl-con">
        <h2>备用网址： 温馨提示：反应时间越小，网站速度越快，越快的网址排在越上面。 </h2>
        <div class="pingwrap">
            <div class="pingbox">
                <div class="pingright"><span>596<small class="block">ms</small></span></div>
                <span>通用</span>
                <div class="openweb"><a href="" class=" block">打开网站</a></div>
            </div>
            <div class="pingbox">
                <div class="pingright"><span>1296<small class="block">ms</small></span></div>
                <span>韩国</span>
                <div class="openweb"><a href="" class=" block">打开网站</a></div>
            </div>
            <div class="pingbox">
                <div class="pingright"><span>216<small class="block">ms</small></span></div>
                <span>美国</span>
                <div class="openweb"><a href="" class=" block">打开网站</a></div>
            </div>
            <div class="pingbox">
                <div class="pingright"><span>326<small class="block">ms</small></span></div>
                <span>新加坡</span>
                <div class="openweb"><a href="" class=" block">打开网站</a></div>
            </div>
            <div class="pingbox">
                <div class="pingright"><span>1596<small class="block">ms</small></span></div>
                <span>香港</span>
                <div class="openweb"><a href="" class=" block">打开网站</a></div>
            </div>
            <a href="#" class="xlbtn"><img src="../../assets/geographic-map/xlbtnbg.png">点击重新刷新检测你的访问速度</a>
        </div>
    </div>
</div>

<app-footer></app-footer>

<app-phone-fix></app-phone-fix>