.app-nav {
    width: 100%;
    background-color: #2c3135;
    height: 80px
}

.app-nav .menu {
    height: 80px
}

.nav-mid {
    width: 1120px;
    margin: auto
}

.menu-container {
    width: 100%;
    margin: 0 auto;
    background: #222;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    top: 0;
    line-height: 80px;
    display: inline-block;
    list-style: none;
    padding: 0; 
    box-sizing: border-box;
}

.menu > ul:before, .menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    padding: 0;
    margin: 0;
    border-left: solid 1px #46494a;
    border-right: solid 1px #181b1e;
    background: url(images/navbtmbg.png) bottom no-repeat
}

.menu > ul > li a {
    width: 138px;
    text-align: center;
    text-decoration: none;
    padding: 0;
    display: block;
    color: #ccc;
    font-size: 16px
}

.menu > ul > li:hover, .menu > ul > li.active {
    background: url(images/navBg.jpg) no-repeat;
    background-size: 100% 100%
}

.menu > ul > li:hover a {
    opacity: 1;
    color: #fff
}

.menu > ul > li:hover a img {
    display: inline-block
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    line-height: 1
}

.menu > ul > li > ul:before, .menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}

.menu > ul > li > ul > li .menu-header {
    color: #ccc;
    padding: .2em 0;
    width: 88%;
    display: block;
    border-bottom: 1px solid #ccc;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before, .menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 50%;
    padding: 5px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
    font-size: 14px
}

.menu > ul > li > ul > li > ul > li a:hover {
    opacity: .6
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}