.tab-border {
    border: 1px solid #ff9f15;
}

.tab-tixian {
    padding: 20px
}

.tab-tixian h2 {
    font-size: 16px;
    margin: 20px 0
}

.tab-tixian h2 em {
    background-color: #ff9f15;
    border-radius: 50%;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    margin-right: 5px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
}

.table-qk {
    background-color: #ccc;
    width: 100%;
}

.table-qk td {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #eee;
}

.tixianform span {
    font-size: 16px;
    margin: 0 0 10px
}

.tixianform input {
    min-width: 260px;
    border-radius: 5px;
    border: solid 1px #ccc;
    padding: 10px;
    margin-bottom: 30px
}

.tixianform .tixian-btn {
    display: block;
    width: 100px;
    height: 30px;
    margin: 0 0 30px;
    line-height: 30px;
    border-radius: 20px;
    background-color: #ff9f15;
    color: #fff;
    text-align: center;
    cursor:pointer;
}

.tab-tixian .tx-table td {
    padding: 10px 60px;
    font-size: 16px
}

.tixianwrap {
    width: 1120px;
    position: relative;
    font-size: 16px;
    margin: 30px auto;
    border-radius: 10px;
    border: solid 1px #ccc;
    padding: 10px
}

.tixianwrap span {
    display: inline-block;
    margin-right: 100px
}

