<dl class="list_dl">
    <dt class="list_dt" id="open">
        <span class="_after"></span>
        <p>时时彩</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd" [ngClass]="{'fn-show':true}">
        <ul>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/1']" routerLinkActive="active">重庆时时彩</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/2']" routerLinkActive="active">天津时时彩</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/3']" routerLinkActive="active">新疆时时彩</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/4']" routerLinkActive="active">五分彩</a></li>
        </ul>
    </dd>
    <dt class="list_dt">
        <span class="_after"></span>
        <p>11选择5</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd" [ngClass]="{'fn-show':true}">
        <ul>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/5']" routerLinkActive="active">安徽11选择5</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/6']" routerLinkActive="active">江西11选择5</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/7']" routerLinkActive="active">广东11选择5</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/8']" routerLinkActive="active">山东11选择5</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/9']" routerLinkActive="active">上海11选择5</a></li>
        </ul>
    </dd>
    <dt class="list_dt">
        <span class="_after"></span>
        <p>快三</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd">
        <ul>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/10']" routerLinkActive="active">江苏快三</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/11']" routerLinkActive="active">安徽快三</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/12']" routerLinkActive="active">吉林快三</a></li>
        </ul>
    </dd>
    <dt class="list_dt">
        <span class="_after"></span>
        <p>快乐十分</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd">
        <ul>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/13']" routerLinkActive="active">天津快乐十分</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/14']" routerLinkActive="active">广东快乐十分</a></li>
        </ul>
    </dd>
    <dt class="list_dt">
        <span class="_after"></span>
        <p>低频彩</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd">
        <ul>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/15']" routerLinkActive="active">上海时时乐</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/16']" routerLinkActive="active">排列3</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/17']" routerLinkActive="active">福彩3D</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/18']" routerLinkActive="active">排列5</a></li>
        </ul>
    </dd>
    <dt class="list_dt">
        <span class="_after"></span>
        <p>PK10</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd">
        <ul>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/19']" routerLinkActive="active">PK拾</a></li>
        </ul>
    </dd>
    <dt class="list_dt">
        <span class="_after"></span>
        <p>官方时时彩</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd">
        <ul>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/20']" routerLinkActive="active">分分彩</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/21']" routerLinkActive="active">北京5分彩</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/22']" routerLinkActive="active">新加坡2分彩</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/23']" routerLinkActive="active">加拿大3.5分彩</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/24']" routerLinkActive="active">台湾5分彩</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/25']" routerLinkActive="active">新韩国1.5分彩</a></li>
            <li class="list_li"><a [routerLink]="['/lottery-play/lottery/26']" routerLinkActive="active">新西兰45分彩</a></li>
        </ul>
    </dd>
</dl>