<dl class="list_dl">
    <dt class="list_dt" id="open">
        <span class="_after"></span>
        <p>时时彩</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd" [ngClass]="{'fn-show':true}">
        <ul>
            <li class="list_li" *ngFor="let item of timeLottery"><a [routerLink]="['/lottery-play/lottery/',item.subItem.id]" routerLinkActive="active">{{ item.subItem.title }}</a></li>
        </ul>
    </dd>
    <dt class="list_dt">
        <span class="_after"></span>
        <p>11选择5</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd">
        <ul>
            <li class="list_li" *ngFor="let item of fiveFromEleven"><a [routerLink]="['/lottery-play/lottery/',item.subItem.id]" routerLinkActive="active">{{ item.subItem.title }}</a></li>
        </ul>
    </dd>
    <dt class="list_dt">
        <span class="_after"></span>
        <p>快三</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd">
        <ul>
            <li class="list_li" *ngFor="let item of fastThree"><a [routerLink]="['/lottery-play/lottery/',item.subItem.id]" routerLinkActive="active">{{ item.subItem.title }}</a></li>
        </ul>
    </dd>
    <dt class="list_dt">
        <span class="_after"></span>
        <p>快乐十分</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd">
        <ul>
            <li class="list_li" *ngFor="let item of fastTen"><a [routerLink]="['/lottery-play/lottery/',item.subItem.id]" routerLinkActive="active">{{ item.subItem.title }}</a></li>
        </ul>
    </dd>
    <dt class="list_dt">
        <span class="_after"></span>
        <p>低频彩</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd">
        <ul>
            <li class="list_li" *ngFor="let item of lowLottery"><a [routerLink]="['/lottery-play/lottery/',item.subItem.id]" routerLinkActive="active">{{ item.subItem.title }}</a></li>
        </ul>
    </dd>
    <dt class="list_dt">
        <span class="_after"></span>
        <p>PK10</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd">
        <ul>
            <li class="list_li" *ngFor="let item of PkTen"><a [routerLink]="['/lottery-play/lottery/',item.subItem.id]" routerLinkActive="active">{{ item.subItem.title }}</a></li>
        </ul>
    </dd>
    <dt class="list_dt">
        <span class="_after"></span>
        <p>官方时时彩</p>
        <i class="list_dt_icon glyphicon glyphicon-chevron-down"></i>
    </dt>
    <dd class="list_dd">
        <ul>
            <li class="list_li" *ngFor="let item of officialTimeLottery"><a [routerLink]="['/lottery-play/lottery/',item.subItem.id]" routerLinkActive="active">{{ item.subItem.title }}</a></li>
        </ul>
    </dd>
</dl>