.personal-con {
    width: 1120px;
    margin: auto;
    padding: 30px 0;
    overflow: hidden;
}

.personal-con h2.title {
    background: url(images/personaltit.png) no-repeat;
    border-bottom: solid 2px #666;
    margin: 50px 0 20px;
    padding: 0 10px 10px 50px;
    font-size: 24px
}

.rgTab {
    margin: 0 auto;
}

.btnTabs {
    margin-left: 1px;
    /*border-bottom: solid 1px #ccc*/
}

.btnTabs b.on, .btnTabs a.on {
    background: #ff9f15;
    color: #fff;
    border: solid 1px #ff9f15
}

.btnTabs a {
    float: left;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    background: #eee;
    border: 1px solid #dedede;
    margin-left: -1px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
}

.personal-con .mc-con p {
    display: block;
    overflow: hidden;
    font-size: 16px;
    margin: 20px 0;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
}

.cw-con .mc-con strong {
    font-size: 40px;
    font-weight: normal;
}

.tixianwrap {
    width: 1120px;
    position: relative;
    font-size: 16px;
    margin: 30px auto;
    border-radius: 10px;
    border: solid 1px #ccc;
    padding: 10px
}

.tixianwrap span {
    display: inline-block;
    margin-right: 100px
}