<div class="personal-con cw-con">
    <h2 class="title">财务中心</h2>
    <div class="mc-con">
        <p class="clearfix"><span class="fLeft">可提金额:<strong>103,840.00</strong>元</span></p>
        <div id="tab1" class="rgTab">
            <div class="btnTabs clearfix">
                <a [routerLink]="['/personal-center/financial-center/recharge-cash']" routerLinkActive="on" >账户存款</a>
                <a [routerLink]="['/personal-center/financial-center/withdraw-cash']" routerLinkActive="on">账户提现</a>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="personal-con tixianwrap">
    <span>账户总额: 103,840.000 <a href="#" class="cun">存款</a> </span>
    <span>可提金额:103,840.000 <a href="#" class="qu">提现</a></span>
    <a class="shua"><img src="../../assets/personal-center/my-account/refresh.png" width="22"></a>
</div>