<div class="personal-con cw-con">
    <h2 class="title">消息公告</h2>
    <div class="jiaoyi-con">
        <div id="tab1" class="rgTab">
            <div class="btnTabs clearfix">
                <b class="on">系统消息</b>
                <b>系统公告</b>
            </div>
            <div class="showBox1" style="display:block;" >
                <div class="timepicker" >时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="" >查询</a></div>
                <div class="betlogtable">
                    <table width="96%"  class="table_qk">
                        <tr>
                            <th>时间</th>
                            <th>标题</th>
                            <th>内容</th>
                            <th>状态</th>
                        </tr>
                        <tr>
                            <td colspan="4">没有有效数据</td>
                        </tr>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a><input name="" type="text"><a href="" class="next">&gt;</a>共1页 | 每页 <select name=""><option>10</option><option>20</option><option selected>50</option></select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1" >
                <div class="timepicker" >时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="" >查询</a></div>
                <div class="betlogtable">
                    <table width="96%" class="table_qk">
                        <tr>
                            <th>公告时间</th>
                            <th>类型</th>
                            <th>公告标题</th>
                            <th>公告内容</th>
                        </tr>
                        <tr>
                            <td>2017年08月21日 15:20:18</td>
                            <td>系统公告</td>
                            <td>欢迎进入178娱乐</td>
                            <td>精彩无限尽在178娱乐，紧张刺激以小博大。</td>
                        </tr>
                        <tr>
                            <td>2017年08月14日 11:18:08</td>
                            <td>游戏公告</td>
                            <td>178娱乐--全新改版上线了</td>
                            <td>更加好玩更加紧张刺激的新游戏已经上线，快来体验2元博180000的激情</td>
                        </tr>
                    </table>
                    <div class="tablepage"><a href="" class="prev">&lt;</a><input name="" type="text"><a href="" class="next">&gt;</a>共1页 | 每页 <select name=""><option>10</option><option>20</option><option selected>50</option></select> 条数据 | 共查询到 1 条数据</div>
                </div>
            </div>
        </div>
    </div>
</div>