<div class="personal-con cw-con">
    <h2 class="title">消息公告</h2>
    <div class="trade-con">
        <div id="tab1" class="rg-tab">
            <div class="btb-tabs clearfix">
                <a [routerLink]="['/personal-center/news-bulletin/message']" routerLinkActive="on">系统消息</a>
                <a [routerLink]="['/personal-center/news-bulletin/notice']" routerLinkActive="on">系统公告</a>
            </div>
            <div class="show-box">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>