<div class="personal-con cw-con">
    <h2 class="title">交易记录</h2>
    <div class="trade-con">
        <div id="tab1" class="rg-tab">
            <div class="btb-tabs clearfix">
                <a [routerLink]="['/personal-center/transaction-history/bet-log']" routerLinkActive="on">投注记录</a>
                <a [routerLink]="['/personal-center/transaction-history/track-log']" routerLinkActive="on">追号记录</a>
                <a [routerLink]="['/personal-center/transaction-history/acc-log']" routerLinkActive="on">流水记录</a>
                <a [routerLink]="['/personal-center/transaction-history/pay-log']" routerLinkActive="on">充值记录</a>
                <a [routerLink]="['/personal-center/transaction-history/refunds-log']" routerLinkActive="on">提现记录</a>
                <a [routerLink]="['/personal-center/transaction-history/integral-log']" routerLinkActive="on">积分记录</a>
            </div>
            <div class="show-box">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>