<div class="personal-con cw-con">
    <h2 class="title">交易记录</h2>
    <div class="jiaoyi-con">
        <div id="tab1" class="rgTab">
            <div class="btnTabs clearfix">
                <b class="on">投注记录</b>
                <b>追号记录</b>
                <b>流水记录</b>
                <b>充值记录</b>
                <b>提现记录</b>
                <b>积分记录</b>
            </div>
            <div class="showBox1">
                <div class="timepicker">时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="">查询</a></div>
                <div class="betlogtable">
                    <table width="96%" class="table_qk">
                        <tr>
                            <th>记录时间</th>
                            <th>用户名</th>
                            <th>期号</th>
                            <th>游戏名称</th>
                            <th>投注金额</th>
                            <th>状态</th>
                            <th>奖金</th>
                            <th>详情</th>
                        </tr>
                        <tr>
                            <td>2017年09月09日19:26:56</td>
                            <td>178yl001</td>
                            <td>20170909081</td>
                            <td>重庆时时彩</td>
                            <td>4,000.00</td>
                            <td>已中奖</td>
                            <td>3600.000</td>
                            <td><a href="#">查看详情</a></td>
                        </tr>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a>
                        <input name="" type="text">
                        <a href="" class="next">&gt;</a>
                        共1页 | 每页 <select name="">
                        <option>10</option>
                        <option>20</option>
                        <option selected>50</option>
                    </select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1" >
                <div class="zhuihaojl clearfix">
                    <div class="fLeft"><span>方案编号</span><input name="" type="text" placeholder="请输入方案编号"></div>
                    <div class="fLeft"><span>游戏</span><select name=""><option>请选择游戏</option><option>重庆时时彩</option></select></div>
                    <div class="fLeft"><span>是否中奖停止</span><select name=""><option>请选择是否中奖停止</option><option>是</option></select></div>
                    <div class="fLeft"><span>状态</span><select name=""><option>请选择状态</option><option>未开始</option></select></div>
                </div>
                <div class="betlogtable">
                    <table width="96%" class="table_qk">
                        <tr>
                            <th>记录时间</th>
                            <th>用户名</th>
                            <th>期号</th>
                            <th>游戏名称</th>
                            <th>投注金额</th>
                            <th>状态</th>
                            <th>奖金</th>
                            <th>详情</th>
                        </tr>
                        <tr>
                            <td colspan="8">没有有效数据</td>
                        </tr>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a><input name="" type="text"><a href="" class="next">&gt;</a>共1页 | 每页 <select name=""><option>10</option><option>20</option><option selected>50</option></select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1" >
                <div class="timepicker">用户名 <input name="" type="text" placeholder="请输入用户名"> 时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="">查询</a></div>
                <div class="betlogtable">
                    <table width="96%" class="table_qk">
                        <tr>
                            <th>记录时间</th>
                            <th>用户名</th>
                            <th>期号</th>
                            <th>游戏名称</th>
                            <th>投注金额</th>
                            <th>状态</th>
                            <th>奖金</th>
                            <th>详情</th>
                        </tr>
                        <tr>
                            <td>2017年09月09日19:26:56</td>
                            <td>178yl001</td>
                            <td>20170909081</td>
                            <td>重庆时时彩</td>
                            <td>4,000.00</td>
                            <td>已中奖</td>
                            <td>3600.000</td>
                            <td><a href="#">查看详情</a></td>
                        </tr>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a>
                        <input name="" type="text">
                        <a href="" class="next">&gt;</a>
                        共1页 | 每页 <select name="">
                        <option>10</option>
                        <option>20</option>
                        <option selected>50</option>
                    </select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1" >
                <div class="timepicker">时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="">查询</a></div>
                <div class="betlogtable">
                    <table width="96%" class="table_qk">
                        <tr>
                            <th>流水号</th>
                            <th>用户名</th>
                            <th>充值金额</th>
                            <th>状态</th>
                            <th>操作时间</th>
                        </tr>
                        <tr>
                            <td colspan="5">没有有效数据</td>
                        </tr>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a>
                        <input name="" type="text">
                        <a href="" class="next">&gt;</a>
                        共1页 | 每页 <select name="">
                        <option>10</option>
                        <option>20</option>
                        <option selected>50</option>
                    </select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1" >
                <div class="timepicker">时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="">查询</a></div>
                <div class="betlogtable">
                    <table width="96%" class="table_qk">
                        <tr>
                            <th>流水号</th>
                            <th>用户名</th>
                            <th>申请金额</th>
                            <th>手续费</th>
                            <th>当日提现次序</th>
                            <th>状态</th>
                            <th>申请时间</th>
                            <th>处理时间</th>
                        </tr>
                        <tr>
                            <td colspan="8">没有有效数据</td>
                        </tr>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a>
                        <input name="" type="text">
                        <a href="" class="next">&gt;</a>
                        共1页 | 每页 <select name="">
                        <option>10</option>
                        <option>20</option>
                        <option selected>50</option>
                    </select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1" style="display:block;">
                <div class="timepicker">时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="">查询</a></div>
                <div class="betlogtable">
                    <table width="96%" class="table_qk">
                        <tr>
                            <th>交易流水号</th>
                            <th>用户名</th>
                            <th>交易时间</th>
                            <th>类型</th>
                            <th>当前积分</th>
                            <th>操作积分</th>
                            <th>总积分</th>
                            <th>备注</th>
                        </tr>
                        <tr>
                            <td>G909566487364262</td>
                            <td>178yl001</td>
                            <td>2017-09-09 19:30:48</td>
                            <td>消费赠送</td>
                            <td>4000</td>
                            <td>4000</td>
                            <td>8000</td>
                            <td>投注消费4000元,赠送4000积分</td>
                        </tr>
                        <tr>
                            <td>G909565295364088</td>
                            <td>178yl001</td>
                            <td>2017-09-09 19:30:48</td>
                            <td>消费赠送</td>
                            <td></td>
                            <td>4000</td>
                            <td>4000</td>
                            <td>投注消费4000元,赠送4000积分</td>
                        </tr>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a><input name="" type="text"><a href="" class="next">&gt;</a>共1页 | 每页 <select name="">
                        <option>10</option>
                        <option>20</option>
                        <option selected>50</option>
                    </select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>