<app-header></app-header>

<div class="page-app">
    <app-header-nav></app-header-nav>
</div>

<div class="main-wrap">
    <div class="bingoScroll">
        <div class="bsTitle">
            <i class="iconfontyyy"><img src="../../assets/lottery-play/laba.png" width="16"></i><span> 系统公告  </span>
        </div>
        <div class="bsBox">
            <div class="bsBoxInner" scrolling="0">
                <marquee direction="left" scrollamount="6" onmouseover="this.stop()" onmouseout="this.start()" style="width:950px;color:#FFFFFF">
                    近期一些不法分子利用非法改号软件，模拟公司财务电话来电号码，对公司客户进行诈骗！公司财务电话不会主动联系客户，若有异常情况，请第一时间与公司核实情况！ 汇款之前请与公司财务或打办公室电话核对汇款账号！ 公司所有办公、财务电话号码、网址等都不会变更，请所有用户注意！ 公司所有决定都在本公告页面公布，请随时注意查看。
                </marquee>
            </div>
        </div>
    </div>
    
    <div class="conwrap">
        <div class="caipiao-leftbar">
            <app-lottery-lists></app-lottery-lists>
        </div>
        <div class="caipiao-rightbar">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>

<app-footer></app-footer>

<app-phone-fix></app-phone-fix>