/* You can add global styles to this file, and also import other style files */
body {
    position: relative;
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    line-height: 1.2;
    color: #333;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
    font-family: "Microsoft YaHei";
    -webkit-text-size-adjust: none;
    background-size: cover;
}

html, body {
    height: 100%
}

div, span, ul, dl, dt, dd, label, p, h1, h2, h3, h4, h5, h6, table, tr, th, td {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    font-family: "Microsoft YaHei";
    background: transparent;
    font-weight: normal;
}

input:focus {
    outline: none
}

.bggrey {
    background-color: #eee !important
}

img {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

em {
    font-style: normal;
    margin: 0;
    padding: 0;
}

.color-danger {
    color: #d31a34
}

a:link, a:visited {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

a:hover {
    color: #1f9bde;
}

table p, table img, table label, table div, table span {
    position: static;
}

.visible {
    overflow: visible !important;
}

.bgnone {
    background: transparent !important;
}

.fLeft {
    float: left !important;
}

.fRight {
    float: right !important;
}

.fNone {
    float: none !important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.center {
    text-align: center !important;
}

.font-style-normal {
    font-style: normal !important;
}

.clear {
    clear: both !important;
}

.clear-line {
    clear: both;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: transparent;
}

.common-line {
    clear: both;
    width: 100%;
    overflow: hidden;
}

.common-img {
    display: block;
    width: 100%;
    height: auto;
}

.width-auto {
    width: auto !important;
}

.width-percent0 {
    width: 0 !important;
}

.width-percent100 {
    width: 100% !important;
}

.width-percent95 {
    width: 95% !important;
}

.width-percent90 {
    width: 90% !important;
}

.width-percent85 {
    width: 85% !important;
}

.width-percent80 {
    width: 80% !important;
}

.width-percent75 {
    width: 75% !important;
}

.width-percent70 {
    width: 70% !important;
}

.width-percent65 {
    width: 65% !important;
}

.width-percent60 {
    width: 60% !important;
}

.width-percent55 {
    width: 55% !important;
}

.width-percent50 {
    width: 50% !important;
}

.width-percent45 {
    width: 45% !important;
}

.width-percent40 {
    width: 40% !important;
}

.width-percent35 {
    width: 35% !important;
}

.width-percent30 {
    width: 30% !important;
}

.width-percent25 {
    width: 25% !important;
}

.width-percent20 {
    width: 20% !important;
}

.width-percent15 {
    width: 15% !important;
}

.width-percent10 {
    width: 10% !important;
}

.width-percent5 {
    width: 5% !important;
}

.height-auto {
    height: auto !important;
}

.height0 {
    height: 0px !important;
}

.height1 {
    height: 1px !important;
}

.height10 {
    height: 10px !important;
}

.height20 {
    height: 20px !important;
}

.height30 {
    height: 30px !important;
}

.height40 {
    height: 40px !important;
}

.height50 {
    height: 50px !important;
}

.top0 {
    top: 0 !important;
}

.left0 {
    left: 0 !important;
}

.right0 {
    right: 0 !important;
}

.bottom0 {
    bottom: 0 !important;
}

.bold {
    font-weight: bold !important;
}

.border0 {
    border: 0 !important;
}

.block {
    display: block !important;
}

.none {
    display: none;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.font12 {
    font-size: 12px !important;
}

.font13 {
    font-size: 13px !important;
}

.font14 {
    font-size: 14px !important;
}

.font15 {
    font-size: 15px !important;
}

.font16 {
    font-size: 16px !important;
}

.font17 {
    font-size: 17px !important;
}

.font18 {
    font-size: 18px !important;
}

.font19 {
    font-size: 19px !important;
}

.font22 {
    font-size: 22px !important;
}

.font28 {
    font-size: 28px !important;
}

.font28 {
    font-size: 28px !important;
}

.font32 {
    font-size: 32px !important;
}

.m0 {
    margin: 0 !important;
}

.m5 {
    margin: 5px !important;
}

.m10 {
    margin: 10px !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt45 {
    margin-top: 45px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.ml0 {
    margin-left: 0 !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml25 {
    margin-left: 25px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.ml35 {
    margin-left: 35px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.ml45 {
    margin-left: 45px !important;
}

.ml50 {
    margin-left: 50px !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr25 {
    margin-right: 25px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mr35 {
    margin-right: 35px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.mr45 {
    margin-right: 45px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.mr70 {
    margin-right: 70px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb35 {
    margin-bottom: 35px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb45 {
    margin-bottom: 45px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.p0 {
    padding: 0 !important;
}

.p5 {
    padding: 5px !important;
}

.p10 {
    padding: 10px !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pt35 {
    padding-top: 35px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pt45 {
    padding-top: 45px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pl25 {
    padding-left: 25px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pl35 {
    padding-left: 35px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pl45 {
    padding-left: 45px !important;
}

.pl50 {
    padding-left: 50px !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr25 {
    padding-right: 25px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.pr35 {
    padding-right: 35px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pr45 {
    padding-right: 45px !important;
}

.pr50 {
    padding-right: 50px !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pb35 {
    padding-bottom: 35px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pb45 {
    padding-bottom: 45px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.default-text {
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    font-size: 12px;
    outline: none;
}

.default-select {
    width: 100px;
    background: #fff;
    margin: 0;
    padding: 0;
    font-size: 12px;
    outline: none;
}

.page-app {
    padding-top: 30px;
}