<div class="nav">
    <label class="logo">&nbsp;</label>
    <ul>
        <li class="active">
            <a [routerLink]="['/home']" routerLinkActive="active"><span class="nav-li-line"></span><span class="nav-li-icon"></span>首页</a>
        </li>
        <li>
            <a [routerLink]="['/lottery-play']" routerLinkActive="active"><span class="nav-li-line"></span><span class="nav-li-icon"></span>彩票游戏</a>
        </li>
        <li>
            <a [routerLink]="['/other']" routerLinkActive="active"><span class="nav-li-line"></span><span class="nav-li-icon"></span>真人视频</a>
        </li>
        <li>
            <a [routerLink]="['/other']" routerLinkActive="active"><span class="nav-li-line"></span><span class="nav-li-icon"></span>电子游戏</a>
        </li>
        <li>
            <a [routerLink]="['/red-envelope']" routerLinkActive="active"><span class="nav-li-line"></span><span class="nav-li-icon"></span>优惠活动</a>
        </li>
        <li>
            <a [routerLink]="['/personal-center']" routerLinkActive="active"><span class="nav-li-line"></span><span class="nav-li-icon"></span>个人中心</a>
        </li>
        <li>
            <a [routerLink]="['/other']" routerLinkActive="active"><span class="nav-li-line"></span><span class="nav-li-icon"></span>新手帮助</a>
        </li>
        <li>
            <a [routerLink]="['/other']" routerLinkActive="active"><span class="nav-li-line"></span><span class="nav-li-icon"></span>在线客服</a>
        </li>
    </ul>
</div>

<div class="index-center-content">
    <div id="flower" class="flower">
        <div class="section section1">
            <a href="#"><img src="../../assets/home/banner1.jpg"/></a>
        </div>
        <!--<div class="section section2">
            <a href="#"><img src="../../assets/home/banner2.jpg"/></a>
        </div>
        <div class="section section3">
            <a href="#"><img src="../../assets/home/banner3.jpg"/></a>
        </div>-->
    </div>
</div>
<app-phone-fix></app-phone-fix>