<div class="personal-con">
    <h2 class="title">我的信息</h2>
    <div class="mc-con">
        <p><span class="fLeft">可用余额:	1,000.000</span><span class="fRight">本次登陆时间:	2017-09-07</span></p>
        <p><span class="fLeft">冻结金额:	0.000</span><span class="fRight">本次登陆IP:	58.37.21.84</span></p>
        <p><span class="fLeft">返点:高频:7.80 / 低频:6.90</span><span class="fRight">上次登录时间:	2017-09-07</span></p>
        <p><span class="fLeft">注册时间:	2017-08-21 15:07</span><span class="fRight">上次登陆IP:	58.37.21.84</span></p>
    </div>
    <h2 class="title">我的特权</h2>
    <div class="tequan-con">
        <p><span class="tq tq1"></span><span>手续费优惠</span></p>
        <p><span class="tq tq2"></span><span>手续费优惠</span></p>
        <p><span class="tq tq3"></span><span>晋级晋级</span></p>
        <p><span class="tq tq4"></span><span>救援礼金</span></p>
        <p><span class="tq tq5"></span><span>积分商城</span></p>
        <p><span class="tq tq6"></span><span>生日关怀</span></p>
        <p><span class="tq tq7"></span><span>私人通道</span></p>
        <p><span class="tq tq8"></span><span>GP派对</span></p>
    </div>
</div>
<div class="personal-nav">
    <div class="personal-con">
        <div class="state">
            <div class="statelist fLeft">
                <a name="jump"></a>
                <span class="statespan dl"></span>
                <div class="jj-con">
                    <span>登陆密码</span>
                    <span class="block">建议您使用字母和数字的组合</span>
                </div>
            </div>
            <div class="fRight state-btn" style=""><a href="#">修改密码</a></div>
        </div>
        <div class="state">
            <div class="statelist fLeft">
                <span class="statespan zj"></span>
                <div class="jj-con">
                    <span>资金密码</span>
                </div>
            </div>
            <div class="fRight state-btn" style=""><a href="#">修改资金密码</a></div>
        </div>
        <div class="state">
            <div class="statelist fLeft">
                <span class="statespan yhk"></span>
                <div class="jj-con">
                    <span>银行卡</span>
                </div>
            </div>
            <div class="fRight state-btn" style=""><a href="#" class="disabled">绑定银行卡</a></div>
        </div>
        <div class="state">
            <div class="statelist fLeft">
                <span class="statespan yx"></span>
                <div class="jj-con">
                    <span>绑定邮箱</span>
                </div>
            </div>
            <div class="fRight state-btn" style=""><a href="#" class="disabled">绑定邮箱</a></div>
        </div>
        <div class="state">
            <div class="statelist fLeft">
                <span class="statespan sj"></span>
                <div class="jj-con">
                    <span>绑定手机</span>
                </div>
            </div>
            <div class="fRight state-btn" style=""><a href="#" class="disabled">绑定手机</a></div>
        </div>
        <div class="state">
            <div class="statelist fLeft">
                <span class="statespan qq"></span>
                <div class="jj-con">
                    <span>绑定QQ</span>
                </div>
            </div>
            <div class="fRight state-btn" style=""><a href="#" class="disabled">绑定QQ</a></div>
        </div>
    </div>
</div>
<div class="personal-con tixianwrap">
    <span>账户总额: 103,840.000 <a href="#" class="cun">存款</a> </span>
    <span>可提金额:103,840.000 <a href="#" class="qu">提现</a></span>
    <a class="shua"><img src="../../assets/personal-center/my-account/shua.png" width="22"></a>
</div>
