<div class="lobg">
    <div class="lgform">
        <form>
            <div class="lgwrap">
                <h2>注册</h2>
                <p><label>会员注册：</label> <input name="" type="text" placeholder="输入账号"></p>
                <p><label>密码：</label> <input name="" type="text" placeholder="请输入密码"></p>
                <p><label>确认密码：</label> <input name="" type="text" placeholder="请输入密码"></p>
                <p><label>QQ号码：</label> <input name="" type="text" placeholder="请输入QQ号码"></p>
                <p class="yzm"><label>验证码：</label> <input name="" type="text" placeholder="请输入验证码"><a href="#"><img src="../../assets/login/yzm.png"></a></p>
                <p>默认取款密码：""</p>
                <p class="lgbtn">注册</p>
            </div>
        </form>
    </div>
</div>