<div class="personal-con cw-con">
    <h2 class="title">代理中心</h2>
    <div class="mc-con jiaoyi-con">
        <div id="tab1" class="rgTab">
            <div class="btnTabs clearfix">
                <b class="on">开户中心</b>
                <b>会员列表</b>
                <b>团队统计</b>
                <b>团队报表</b>
                <b>下级流水</b>
                <b>积分记录</b>
                <b>充值记录</b>
                <b>提现记录</b>
                <b>登录日志</b>
            </div>
            <div class="showBox1" style="display:block;"  >
                <div id="tab2" class="rgTab">
                    <ul class="btnTabs clearfix">
                        <li class="on">一键开户</li>
                        <li>推广开户</li>
                        <li>链接管理</li>
                    </ul>
                    <div class="showBox2 openAcctab1" style="display:block;">
                        <div class="sec-con">
                            <div class="alert alert-success ng-binding"> 自动注册的会员初始安全密码"0000"，请及时修改通知下级修改</div>
                            <table width="80%" align="center"  class="table_qk">
                                <tr>
                                    <td>用户类型</td>
                                    <td class="list-line"><input type="radio" name="rd1"> 代理 <input type="radio" name="rd1"> 会员</td>
                                </tr>
                                <tr>
                                    <td>用户名</td>
                                    <td class="list-line"><input name="" type="text"></td>
                                </tr>
                                <tr>
                                    <td>密码</td>
                                    <td class="list-line"><input name="" type="text"></td>
                                </tr>
                                <tr>
                                    <td>高频彩返点（%）</td>
                                    <td class="list-line"><input name="" type="text" value="7.8"></td>
                                </tr>
                                <tr>
                                    <td>低频彩返点（%）</td>
                                    <td class="list-line"><input name="" type="text" value="6.9"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td class="left"><a href="#">提交</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="showBox2 openAcctab1">
                        <div class="sec-con">
                            <table width="80%" align="center"  class="table_qk">
                                <tr>
                                    <td>用户类型</td>
                                    <td class="list-line"><input type="radio" name="rd1"> 代理 <input type="radio" name="rd1"> 会员</td>
                                </tr>
                                <tr>
                                    <td>高频彩返点（%）</td>
                                    <td class="list-line"><input name="" type="text" value="7.8"></td>
                                </tr>
                                <tr>
                                    <td>低频彩返点（%）</td>
                                    <td class="list-line"><input name="" type="text" value="6.9"></td>
                                </tr>
                                <tr>
                                    <td>注册链接</td>
                                    <td class="list-line"><input name="" type="text" value="一个月"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td class="left"><a href="#">点击生成</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="showBox2 openAcctab1">
                        <div class="sec-con">
                            <div class="alert alert-warning ng-binding"> 您没有可以使用的注册链接,请点击<a href="#">"推广开户"</a>添加注册链接</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="showBox1" >
                <div class="timepicker" >用户名 <input name="" type="text" placeholder="请输入用户名"> 时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="" >查询</a></div>
                <div class="betlogtable">
                    <table width="96%"  class="table_qk">
                        <tbody>
                        <tr>
                            <th>账号</th>
                            <th>添加时间</th>
                            <th>余额</th>
                            <th>类型</th>
                            <th>高/低频返点</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td>bubai518</td>
                            <td>2017年09月10日 17:01:07</td>
                            <td>29,990.00</td>
                            <td>代理</td>
                            <td>8.00 / 7.90</td>
                            <td class="setpoint"><a href="#">设置返点</a><a href="#">手动转点</a></td>
                        </tr>
                        <tr>
                            <td>bubai518</td>
                            <td>2017年09月10日 17:01:07</td>
                            <td>29,990.00</td>
                            <td>代理</td>
                            <td>8.00 / 7.90</td>
                            <td class="setpoint"><a href="#">设置返点</a><a href="#">手动转点</a></td>
                        </tr>
                        <tr>
                            <td>bubai518</td>
                            <td>2017年09月10日 17:01:07</td>
                            <td>29,990.00</td>
                            <td>代理</td>
                            <td>8.00 / 7.90</td>
                            <td class="setpoint"><a href="#">设置返点</a><a href="#">手动转点</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a>
                        <input name="" type="text">
                        <a href="" class="next">&gt;</a>
                        共1页 | 每页 <select name="">
                        <option>10</option>
                        <option>20</option>
                        <option selected>50</option>
                    </select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1" >
                <div class="timepicker" >时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="" >查询</a></div>
                <div class="betlogtable">
                    <table width="96%"  class="table_qk">
                        <tbody>
                        <tr>
                            <td>团队成员</td>
                            <td>5（代理5人，玩家0人）</td>
                            <td>在线人数</td>
                            <td>0人</td>
                        </tr>
                        <tr>
                            <td>新增加用户</td>
                            <td>0人</td>
                            <td>充值人数</td>
                            <td>0人</td>
                        </tr>
                        <tr>
                            <td>投注金额(包括追号)</td>
                            <td>￥ 0.00</td>
                            <td>中奖金额</td>
                            <td>￥ 0.00</td>
                        </tr>
                        <tr>
                            <td>返点金额</td>
                            <td>￥ 0.00</td>
                            <td>可用金额</td>
                            <td>￥ 512,327.06</td>
                        </tr>
                        <tr>
                            <td>充值总额</td>
                            <td>￥ 0.00</td>
                            <td>提现总额</td>
                            <td>￥ 0.00</td>
                        </tr>
                        <tr>
                            <td>撤单总额</td>
                            <td>￥ 0.00</td>
                            <td>盈亏总额</td>
                            <td>￥ 0.00</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a><input name="" type="text"><a href="" class="next">&gt;</a>共1页 | 每页 <select name=""><option>10</option><option>20</option><option selected>50</option></select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1" >
                <div class="timepicker" >用户名 <input name="" type="text" placeholder="请输入用户名"> 时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="" >查询</a></div>
                <div class="betlogtable">
                    <table width="96%"  class="table_qk">
                        <tbody>
                        <tr>
                            <th>用户名</th>
                            <th>用户层级</th>
                            <th>充值金额</th>
                            <th>取款金额</th>
                            <th>投注金额</th>
                            <th>中奖金额</th>
                            <th>赠点金额</th>
                            <th>返点金额</th>
                            <th>盈亏</th>
                        </tr>
                        <tr>
                            <td>178yl001</td>
                            <td>0</td>
                            <td>0.000</td>
                            <td>0.000</td>
                            <td>5242.800</td>
                            <td>15982.344</td>
                            <td>0.000</td>
                            <td>0.000</td>
                            <td>10739.544</td>
                        </tr>
                        <tr>
                            <td>178yl001</td>
                            <td>0</td>
                            <td>0.000</td>
                            <td>0.000</td>
                            <td>5242.800</td>
                            <td>15982.344</td>
                            <td>0.000</td>
                            <td>0.000</td>
                            <td>10739.544</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a><input name="" type="text"><a href="" class="next">&gt;</a>共1页 | 每页 <select name=""><option>10</option><option>20</option><option selected>50</option></select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1" >
                <div class="timepicker" >用户名 <input name="" type="text" placeholder="请输入用户名"> 时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="" >查询</a></div>
                <div class="betlogtable">
                    <table width="96%"  class="table_qk">
                        <tbody>
                        <tr>
                            <th>记录时间</th>
                            <th>用户名</th>
                            <th>当前金额</th>
                            <th>支出</th>
                            <th>收入</th>
                            <th>可用金额</th>
                            <th>备注</th>
                        </tr>
                        <tr>
                            <td>2017年09月12日 00:45:46</td>
                            <td>bubai519</td>
                            <td>1,343.48</td>
                            <td>0.00</td>
                            <td>19.56</td>
                            <td>1,363.04</td>
                            <td>重庆时时彩第[20170912009]期一星定位胆复式派奖</td>
                        </tr>
                        <tr>
                            <td>2017年09月12日 00:45:46</td>
                            <td>bubai519</td>
                            <td>1,343.48</td>
                            <td>0.00</td>
                            <td>19.56</td>
                            <td>1,363.04</td>
                            <td>重庆时时彩第[20170912009]期一星定位胆复式派奖</td>
                        </tr>
                        <tr>
                            <td>2017年09月12日 00:45:46</td>
                            <td>bubai519</td>
                            <td>1,343.48</td>
                            <td>0.00</td>
                            <td>19.56</td>
                            <td>1,363.04</td>
                            <td>重庆时时彩第[20170912009]期一星定位胆复式派奖</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a><input name="" type="text"><a href="" class="next">&gt;</a>共1页 | 每页 <select name=""><option>10</option><option>20</option><option selected>50</option></select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1" >
                <div class="timepicker" >用户名 <input name="" type="text" placeholder="请输入用户名"> 时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="" >查询</a></div>
                <div class="betlogtable">
                    <table width="96%"  class="table_qk">
                        <tbody>
                        <tr>
                            <th>交易流水号</th>
                            <th>用户名</th>
                            <th>交易时间</th>
                            <th>类型</th>
                            <th>当前积分</th>
                            <th>操作积分</th>
                            <th>总积分</th>
                            <th>备注</th>
                        </tr>
                        <tr>
                            <td>G912483460285953</td>
                            <td>bubai519</td>
                            <td>2017-09-12 00:45:46</td>
                            <td>消费赠送</td>
                            <td>1441</td>
                            <td>2</td>
                            <td>1443</td>
                            <td>投注消费2元,赠送2积分</td>
                        </tr>
                        <tr>
                            <td>G912483460285953</td>
                            <td>bubai519</td>
                            <td>2017-09-12 00:45:46</td>
                            <td>消费赠送</td>
                            <td>1441</td>
                            <td>2</td>
                            <td>1443</td>
                            <td>投注消费2元,赠送2积分</td>
                        </tr>
                        <tr>
                            <td>G912483460285953</td>
                            <td>bubai519</td>
                            <td>2017-09-12 00:45:46</td>
                            <td>消费赠送</td>
                            <td>1441</td>
                            <td>2</td>
                            <td>1443</td>
                            <td>投注消费2元,赠送2积分</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a><input name="" type="text"><a href="" class="next">&gt;</a>共1页 | 每页 <select name=""><option>10</option><option>20</option><option selected>50</option></select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1"  >
                <div class="timepicker" >用户名 <input name="" type="text" placeholder="请输入用户名"> 时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="" >查询</a></div>
                <div class="betlogtable">
                    <table width="96%"  class="table_qk">
                        <tbody>
                        <tr>
                            <th>流水号</th>
                            <th>用户名</th>
                            <th>充值金额</th>
                            <th>状态</th>
                            <th>操作时间</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td>178yule004</td>
                            <td>10.000</td>
                            <td>处理中</td>
                            <td>2017/09/11 10:32</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>178yule004</td>
                            <td>10.000</td>
                            <td></td>
                            <td>2017/09/11 10:32</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>178yule004</td>
                            <td>10.000</td>
                            <td>充值成功</td>
                            <td>2017/09/11 10:32</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a><input name="" type="text"><a href="" class="next">&gt;</a>共1页 | 每页 <select name=""><option>10</option><option>20</option><option selected>50</option></select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1"  >
                <div class="timepicker" >用户名 <input name="" type="text" placeholder="请输入用户名"> 时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="" >查询</a></div>
                <div class="betlogtable">
                    <table width="96%"  class="table_qk">
                        <tbody>
                        <tr>
                            <th>流水号</th>
                            <th>用户名</th>
                            <th>申请金额</th>
                            <th>手续费</th>
                            <th>当日提现次序</th>
                            <th>状态</th>
                            <th>申请时间</th>
                            <th>处理时间</th>
                        </tr>
                        <tr>
                            <td colspan="8">没有有效数据</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a><input name="" type="text"><a href="" class="next">&gt;</a>共1页 | 每页 <select name=""><option>10</option><option>20</option><option selected>50</option></select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
            <div class="showBox1">
                <div class="timepicker" >用户名 <input name="" type="text" placeholder="请输入用户名"> 时间范围<input size="16" type="text" readonly class="form_datetime" placeholder="起始日期">至<input size="16" type="text" readonly class="form_datetime" placeholder="截至日期"><a href="" >查询</a></div>
                <div class="betlogtable">
                    <table width="96%"  class="table_qk">
                        <tbody>
                        <tr>
                            <th>用户名</th>
                            <th>登录时间</th>
                            <th>登录来源</th>
                            <th>登录IP</th>
                            <th>登录结果</th>
                            <th>备注</th>
                        </tr>
                        <tr>
                            <td>178yule004</td>
                            <td>2017年09月12日 21:40:58</td>
                            <td>other</td>
                            <td>112.208.27.107</td>
                            <td>成功</td>
                            <td>成功第13次</td>
                        </tr>
                        <tr>
                            <td>178yule004</td>
                            <td>2017年09月12日 21:40:58</td>
                            <td>other</td>
                            <td>112.208.27.107</td>
                            <td>成功</td>
                            <td>成功第13次</td>
                        </tr>
                        <tr>
                            <td>178yule004</td>
                            <td>2017年09月12日 21:40:58</td>
                            <td>other</td>
                            <td>112.208.27.107</td>
                            <td>成功</td>
                            <td>成功第13次</td>
                        </tr>
                        <tr>
                            <td>178yule004</td>
                            <td>2017年09月12日 21:40:58</td>
                            <td>other</td>
                            <td>112.208.27.107</td>
                            <td>成功</td>
                            <td>成功第13次</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="tablepage">
                        <a href="" class="prev">&lt;</a><input name="" type="text"><a href="" class="next">&gt;</a>共1页 | 每页 <select name=""><option>10</option><option>20</option><option selected>50</option></select> 条数据 | 共查询到 1 条数据
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
