<div class="personal-con cw-con">
    <h2 class="title">代理中心</h2>
    <div class="mc-con trade-con">
        <div id="tab1" class="rg-tab">
            <div class="btb-tabs clearfix">
                <a [routerLink]="['/personal-center/agent-center/open-account']" routerLinkActive="on">开户中心</a>
                <a [routerLink]="['/personal-center/agent-center/member-list']" routerLinkActive="on">会员列表</a>
                <a [routerLink]="['/personal-center/agent-center/team-statistics']" routerLinkActive="on">团队统计</a>
                <a [routerLink]="['/personal-center/agent-center/team-log']" routerLinkActive="on">团队报表</a>
                <a [routerLink]="['/personal-center/agent-center/lower-turnover']" routerLinkActive="on">下级流水</a>
                <a [routerLink]="['/personal-center/agent-center/integral-report']" routerLinkActive="on">积分记录</a>
                <a [routerLink]="['/personal-center/agent-center/recharge-report']" routerLinkActive="on">充值记录</a>
                <a [routerLink]="['/personal-center/agent-center/withdraw-report']" routerLinkActive="on">提现记录</a>
                <a [routerLink]="['/personal-center/agent-center/login-report']" routerLinkActive="on">登录日志</a>
            </div>
            <div class="show-box">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
