.personal-con {
    width: 1120px;
    margin: auto;
    padding: 30px 0;
    overflow: hidden;
}

.personal-con h2.title {
    background: url(images/personaltit.png) no-repeat;
    border-bottom: solid 2px #666;
    margin: 50px 0 20px;
    padding: 0 10px 10px 50px;
    font-size: 24px
}

.rgTab {
    margin: 0 auto;
}

.btnTabs {
    margin-left: 1px;
    border-bottom: solid 1px #ccc
}

.btnTabs b, .btnTabs a {
    float: left;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    background: #eee;
    border: 1px solid #dedede;
    margin-left: -1px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.btnTabs li {
    float: left;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

.btnTabs b.on, .btnTabs a.on {
    background: #ff9f15;
    color: #fff;
    border: solid 1px #ff9f15
}

.btnTabs li.on, .btnTabs li:hover {
    background: none;
    border-bottom: solid 2px #ff9f15
}

.personal-con .mc-con p {
    display: block;
    overflow: hidden;
    font-size: 16px;
    margin: 20px 0;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
}

.cw-con .mc-con strong {
    font-size: 40px;
    font-weight: normal;
}

.showBox2 {
    border: none;
    display: none
}

.showBox1, .showBox3 {
    overflow: hidden;
    display: none;
    border: 1px solid #ff9f15;
    margin-top: -1px;
    padding: 10px 0 10px 0;
    margin-top: -1px
}

.sec-con {
    overflow: hidden;
    padding: 30px 0 50px
}

.openAcctab1 .sec-con {
    width: 95%;
    margin: auto;
}

.openAcctab1 .table_qk {
    background-color: #ccc;
    width: 100%;
}

.openAcctab1 .table_qk td {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border:none;
}

.openAcctab1 .sec-con td.list-line {
    width: 60%;
    padding-left: 0;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.openAcctab1 .sec-con td.list-line input[type="text"]{
    width:100%;
    border: none;
}

.openAcctab1 .sec-con .left a {
    color: #fff;
    background-color: #d31a34;
    border-color: #d31a34;
    border-radius: 5px;
    padding: 5px 15px;
}

.jiaoyi-con .timepicker {
    font-size: 16px;
    padding: 20px
}

.jiaoyi-con .timepicker input {
    vertical-align: top;
    background: none;
    cursor: pointer;
    margin: 0 10px;
    width: 100px;
    border: none;
    border-bottom: solid 1px #ccc;
    box-shadow: none;
    border-radius: 0;
}

.jiaoyi-con .timepicker a {
    display: inline-block;
    padding: 4px 15px;
    border-radius: 5px;
    background-color: #ff9f15;
    color: #fff;
    text-decoration: none;
}

.jiaoyi-con .timepicker input {
    vertical-align: top;
    background: none;
    cursor: pointer;
    margin: 0 10px;
    width: 100px;
    border: none;
    border-bottom: solid 1px #ccc;
    box-shadow: none;
    border-radius: 0
}

.betlogtable .table_qk {
    margin: 0 2% 4%;
}

.table_qk th {
    background-color: #eee;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.table_qk td {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.tablepage {
    width: 96%;
    margin: auto;
    text-align: right;
    font-size: 14px;
    color: #777
}

.tablepage a {
    display: inline-block;
    border-radius: 5px;
    background-color: #eee;
    padding: 0 10px;
    vertical-align: top;
    font-size: 16px;
    color: #666;
}

.tablepage input {
    width: 40px;
    height: 20px;
    line-height: 20px;
}

.tablepage select {
    width: 60px
}